#squareFootageIn {
  text-align: right;
}

.propertyDiv {
  background-color: #999;
  margin: 10px;
  padding: 25px;
  border: solid black 2px;
  border-radius: 10px;
  overflow: hidden;
}

#newPropertyForm {
  margin: 50px;
}

#newPropertyForm .ng-hide {
  display: block!important;
  visibility: hidden;
}

#submitPropertyBtn{
  float: right;
}

.delete-button {
  float: right;
}