.propertiesView div {
  margin: 50px;
}

#squareFootageIn {
  text-align: right;
}

#newPropertyForm {
  margin: 50px;
}

#newPropertyForm .ng-hide {
  display: block!important;
  visibility: hidden;
}

#submitPropertyBtn{
  float: right;
}